<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>title</key>
		<string>我是业务B的标题</string>
		<key>images</key>
		<dict>
			<key>image1</key>
			<string>meinv5</string>
			<key>image2</key>
			<string>meinv6</string>
		</dict>
	</dict>
</dict>
</plist>
